
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #312e81; /* indigo-900 */
  --secondary: #4f46e5; /* indigo-600 */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
